# 基础
__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# 忽略 Signal_Data/ 里的全部内容，但放行每层目录里的 .gitkeep
Signal_Data/**
!Signal_Data/.gitkeep
!Signal_Data/**/.gitkeep

# 忽略 Training_Data/ 里的全部内容，但放行每层目录里的 .gitkeep
Training_Data/**
!Training_Data/.gitkeep
!Training_Data/**/.gitkeep
