# 基础
__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
build/
dist/
*.egg-info/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# --- Training_Data：同理 ---

Training_Data/**
!Training_Data/
!Training_Data/**/
!Training_Data/**/.gitkeep

# 1. 先把 Signal_Data 下面的所有东西都忽略
Signal_Data/**

# 2. 但目录本身不能忽略
!Signal_Data/
!Signal_Data/**/

# 3. 允许放目录里的占位文件
!Signal_Data/.gitkeep
!Signal_Data/**/.gitkeep
